<a href="https://colab.research.google.com/github/dernameistegal/airbnb_price/blob/main/data_utils/munich/reviews_transformations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
%%capture
!pip install ast
import numpy as np
import ast
import pandas as pd
import numpy as np
from google.colab import drive
import matplotlib.pyplot as plt
drive.mount('/content/drive')

# Data preparation translated_reviews.pickle

In [ ]:
path= ("/content/drive/MyDrive/Colab/airbnb/data/translations/translated_reviews.pickle")
reviews = pd.read_pickle(path)

In [ ]:
# remove columns that contain no information and make listing_id index
reviews.drop(["id", "reviewer_name", "reviewer_id", "lang", "date", "comments"], axis=1, inplace=True)

In [ ]:
reviews.head()

        listing_id        comments_en
359557    50719509       All tip-top!
348671    44620209  All tips match:-)
344834    43766823      was glamorous
107986     8458274       All tipbtop!
64428      4058386       All Super!:)

In [ ]:
reviews = reviews.groupby("listing_id")["comments_en"].apply(list)

In [ ]:
reviews

listing_id
15883       [The stay with Eva was to my full satisfaction...
38768       [Super friendly host! Great tips, great apartm...
40625       [Good place to visit the zoo, possibility to p...
51287       [We had a perfect stay in this studio! Hannes ...
70637       [The apartment of Elxe is a dream and just gre...
                                  ...
52973077    [The apartment was largely clean and in good c...
53017679    [The room was comfy and the service is very ac...
53044408                                    [Great location!]
53056727    [Allesgute was a nice host with great faciliti...
53125118    [Very good, Was a nice stay. Check in went ver...
Name: comments_en, Length: 9081, dtype: object

In [ ]:
# save transformed listings
path = ("/content/drive/MyDrive/Colab/airbnb/data/data1/reviews_workfile.pickle")
reviews.to_pickle(path)