<a href="https://colab.research.google.com/github/dernameistegal/airbnb_price/blob/main/data_utils/munich/reviews_transformations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
%%capture
!pip install ast
import numpy as np
import ast
import pandas as pd
import numpy as np
from google.colab import drive
import matplotlib.pyplot as plt
drive.mount('/content/drive')

# Data preparation translated_reviews.pickle

In [8]:
path= ("/content/drive/MyDrive/Colab/airbnb/munich/translated_reviews.pickle")
reviews = pd.read_pickle(path)

In [9]:
# remove columns that contain no information and make listing_id index
reviews.drop(["id", "reviewer_name", "reviewer_id", "lang", "date", "comments", "comment_en"], axis=1, inplace=True)

In [10]:
reviews.head()

       listing_id                                        comments_en
27024     2929924  My stay at Ralph's place was amazing. Place is...
1206       186596  Good house direct to the street, Hatice is ver...
95678    36132237  The apartment is very beautiful and close to M...
95737    36253688                          Nice, clean, quiet place.
19049     1434387               A very clean, well-placed apartment.

In [11]:
reviews = reviews.groupby("listing_id")["comments_en"].apply(list)

In [14]:
reviews

listing_id
159634      [Very nice hostess and beautiful idyllic envir...
170154      [With their hospitality and lots of tips and l...
170815      [Thank you. Everything was good. Gladly again....
186596      [Good house direct to the street, Hatice is ve...
190529      [I was only one night in Munich and everything...
                                  ...
53401146    [My boyfriend and I stayed at Petros place and...
53415065    [all great. friendly and quick in answering al...
53454679           [Communicative host - great area in town!]
53748144                                [A great information]
53844812    [Great location, completely uncomplicated chec...
Name: comments_en, Length: 743, dtype: object

In [15]:
# save transformed listings
path = ("/content/drive/MyDrive/Colab/airbnb/munich/reviews_workfile.pickle")
reviews.to_pickle(path)